.page-title {
    align-items: center;
    margin-left: 25%;
    margin-right: 25%;
    color: cornflowerblue;


}

header {
    text-align: center;
    border: 3px solid cornflowerblue;
    margin-bottom: 50px;
    background-color: gray;
}

.center {
    align-items: center;
}

.today {

    margin-left: 200px;

}

.btn {
    color: cornflowerblue;
    border-color: cornflowerblue;
    background-color: gray;
}